@font-face {
  font-family: "iconfont"; /* Project id 2804255 */
  src: url('//at.alicdn.com/t/font_2804255_kkou88cnuck.woff2?t=1631259690435') format('woff2'),
       url('//at.alicdn.com/t/font_2804255_kkou88cnuck.woff?t=1631259690435') format('woff'),
       url('//at.alicdn.com/t/font_2804255_kkou88cnuck.ttf?t=1631259690435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e663";
}
